//  Base
$blockColor: #333333;
$blockBackground: #eee;
$centerWidth: 70%;
$gutter: 4%;

//  Demo
$DemoPass: #dff0d8;
$DemoFail: #f0d8d8;

//  Media Query
//  Width
$widthXlg: 103.125em; // 1650px
$widthLg: 75.000em;	// 1200px
$widthMed: 64.375em; // 1030px
$widthSm: 37.500em; // 600px
$widthXsm: 25.000em; // 400px

// Heights
$heightSm: 31.250em; // 500px
$heightMed: 43.750em; // 700px
$heightLg: 50.000em; // 800px

//  Colors
$textColor: #333333;
$linkColor: #30466f;
$linkColorHover: #30466f;
$backgroundColor: #f5f5f2;

$red: #c92425;
$cream: #f1e3c6;
$black: #000;

// Typography
$sans: "Proxima Nova", Verdana, sans-serif;
$serif: "Elena Basic", Georgia, serif;