@mixin opentype () {
	-moz-font-feature-settings: "liga=1, dlig=1"; 
    -moz-font-feature-settings: "liga", "dlig"; /* EDIT: new syntax for FF 15+ */ 
    -ms-font-feature-settings: "liga", "dlig"; 
    -o-font-feature-settings: "liga", "dlig"; 
    -webkit-font-feature-settings: "liga", "dlig"; 
    font-feature-settings: "liga", "dlig";
}

@mixin border-radius ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

// @mixin column-count () {
// 	-webkit-column-count: 5;
//     -webkit-column-gap:  .75em;
//     -moz-column-count: 5;
//     -moz-column-gap:  .75em;
//     -o-column-count: 5;
//     -o-column-gap:  .75em;
//     column-count: 5;
//     column-gap:  .75em;
// }

// Fix $colSpan and $gutter propogation. 

@mixin width($colCount: 2, $colSpan: 1, $gutter: 4%) {
	width: $colSpan * ((100% - $gutter) / $colCount);
}

@mixin first($colCount: 2, $colSpan: 1, $gutter: 4%) {
	margin-left: $gutter + ($colSpan * ((100% - $gutter) / $colCount));
}

@mixin only($colCount: 2, $colSpan: 1, $gutter: 4%) {
	margin-left: 100% - ($colSpan * ((100% - $gutter) / $colCount));
	margin-right: 0;
}

@mixin firstonly($colCount: 2, $colSpan: 1, $gutter: 4%) {
	margin-left: $gutter + ($colSpan * ((100% - $gutter) / $colCount));
	margin-right: 100% - ($gutter + ($colSpan * ((100% - $gutter) / $colCount)));
}

@mixin columns($colCount: 2, $colSpan: 1, $gutter: 4%) { 
	@include width($colCount, $colSpan, $gutter);

	&.first {
		@include first($colCount, $colSpan, $gutter);
	}

	&.only {
		@include only($colCount, $colSpan, $gutter);
	}

	&.firstonly {
		@include firstonly($colCount, $colSpan, $gutter);
	}
}