// Global
body {
	max-width: 80em; // 1280px;
	@include opentype;

	&.center {
		p {
			text-align: left;
			// width: 70%; //FIX: Remove this quick hack.
			margin-left: auto;
			margin-right: auto;
		}
	}
}


// Width X-Large
@media (min-width: $widthXlg) {
	body {
		font-size: 162.5%;
		width: 70%;
		// max-width: 1360px;
	}
}

// Width Large
@media (min-width: $widthLg) {
	body {
		font-size: 150%;
		width: 70%;
	}
}

// Width Med and Up
@media (min-width: $widthMed) {
	body {
		font-size: 137.5%;
		width: 80%;
	}
}

// Width Med and Down
@media (max-width: $widthMed - 0.063em) {
	body {
		font-size: 125%;
		width: 85%;
	}
}

// Width Small
@media (max-width:$widthSm) {
	body {
		font-size: 112.5%;
		// font-size: 100%;
		width: 90% !important;

		p {
			width: 90% !important;
		}
	}

	h2, 
	h3, 
	h4, 
	h5 {
	    font-size: 1.875em;
	    line-height: 1.3em;
	}

	h5 {
	    font-size: 1.375em;
	}
}

// Width X-Small
@media (max-width:$widthXsm) {
	body {		
		font-size: 100%;
	}
}