// This is where all of the layout modifications should live, anything that deviates from proto or base.

/* Global */

body {
	max-width: 1140px;
	@include opentype;

	&.center {
		p {
			text-align: left;
			width: 70%; //FIX: Remove this quick hack.
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.lead {
	font-size: 1.5rem; // 24px
	line-height: 1.4em;
}

.inactive {
	
}

// Page specific



// Desktop

@media (min-width: $widthLg) {
	body {
		font-size: 150%;
		width: 70%;
	}
}

// Tablet Up To Desktop

@media (min-width: $widthMed) and (max-width: $widthLg - 0.063em) {
	body {
		font-size: 137.5%;
		width: 80%;
	}
}

// Tablet Down To Phone

@media (max-width: $widthMed - 0.063em) {
	body {
		font-size: 125%;
		width: 85%;
	}
}

// Phone

@media (max-width:$widthSm) {
	body {
		font-size: 112.5%;
		// font-size: 100%;
		width: 90% !important;

		p {
			width: 90% !important;
		}
	}

	h2, 
	h3, 
	h4, 
	h5 {
	    font-size: 1.875em;
	    line-height: 1.3em;
	}

	h5 {
	    font-size: 1.375em;
	}
}

body {
	
	font-size: 100%;
}



// @media screen and (min-width: 20.000em) { // 320px
// }@media screen and (min-width: 25.000em) { // 400px
// }@media screen and (max-width: 37.438em) { // 599px
// }@media screen and (min-width: 37.500em) { // 600px
// 	body {
// 	    font-size: 112.5%}
// 	h2, h3, h4, h5 {
// 	    font-size: 1.875em;
// 	    line-height: 1.3em;
// 	}
// 	h5 {
// 	    font-size: 1.375em;
// 	}

// }@media screen and (min-width: 64.375em) { // 1030px
// 	body {
// 	    font-size: 137.5%}

// }@media screen and (min-width: 75.000em) and (min-height:31.250em) { // 1200px  and  500px
// 	body {
// 	    font-size: 150%}

// }@media screen and (min-width: 103.125em) and (min-height:50.000em) { // 1650px  and  800px
// 	body {
// 	    font-size: 162.5%}
// 	.container {
// 	    max-width: 1360px;
	    
// }@media screen and (min-height:43.750em) { // 700px
