//  Base
$blockColor: #333333;
$blockBackground: #eee;
$centerWidth: 70%;
// $colCount: 2;
// $colSpan: 1;
$gutter: 4%;

//  Demo
$DemoPass: #dff0d8;
$DemoFail: #f0d8d8;

//  Media Query
//  FIX: These need to be thought over more thoroughly
$desktopWidth: 1024px;	
$tabletWidth: 768px;
$phoneWidth: 480px;

// FIX: Define these later
// $heightSm: ;
// $heightMed: ;
// $heightLg: ;

//  Colors
$textColor: #333333;
$linkColor: #30466f;
$linkColorHover: #30466f;
$backgroundColor: #f5f5f2;

$red: #c92425;
$cream: #f1e3c6;
$black: #000;


// Type
$sans: "Ideal Sans", Verdana, sans-serif;
$serif: "Elena Basic", Georgia, serif;